<form >
    <div>
        <label>Nombre: </label>
        <input type="text" />
    </div>
 
 
    <div>
        <label>Descripción: </label>
        <textarea ></textarea>   
    </div>
 
 
    <div class="col-6">
        <label class="form-label">Tipo: </label>
        <select formControlName="tipo" class="form-select" >
            <option value="">Seleccione un tipo</option>
            @for (item of tiposDeEvento; track $index) {
                <option value="{{item}}">{{item}}</option>
            }
        </select>
     </div>
 
 
    <div>
        <label>Dirección: </label>
        <input type="text" />
    </div>
 
 
    <div>
        <label>Ciudad: </label>
        <input type="text" />
    </div>
 
 
    <div>
        <label>Imagen evento: </label>
        <input type="file" (change)="onFileChange($event, 'portada')" />
     </div>
     
     
     <div class="col-6 d-inline-block">
        <label class="form-label">Imagen portada: </label>
        <div class="d-flex gap-2" >
            <input type="file" (change)="onFileChange($event, 'portada')" class="form-control" />
            <button type="submit" class="btn btn-primary" (click)="subirImagen('portada')" ><i class="fa-solid fa-cloud-arrow-up"></i></button>
        </div>
     </div>
 
 
    <button  (click)="crearEvento()" type="submit" >Crear evento</button>
 </form>
