<div class="container mx-auto py-8">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
      <!-- Sección de Eventos -->
      <div *ngFor="let evento of eventos" class="card bg-white p-8 rounded-md shadow-md">
        <img
          [src]="evento.imagen"
          alt="{{ evento.nombre }}"
          class="w-full h-48 object-cover rounded-md mb-4"
        />
        <h5 class="text-2xl font-bold mb-2 text-center text-gray-800">{{ evento.nombre }}</h5>
        <p class="text-gray-600 mb-2">Tipo: {{ evento.tipo }}</p>
        <p class="text-gray-600 mb-2">Dirección: {{ evento.direccion }}</p>
        <p class="text-gray-600 mb-2">Ciudad: {{ evento.ciudad }}</p>
        <p class="text-gray-600 mb-4">{{ evento.descripcion }}</p>
        <p class="text-indigo-600 font-bold text-center mb-4">Fecha: {{ evento.fecha | date: 'medium' }}</p>
        <div class="text-center">
          <button class="bg-indigo-500 text-white py-2 px-4 rounded-md hover:bg-indigo-600 transition duration-300">
            Reservar
          </button>
        </div>
      </div>
    </div>
</div>
