/* Estilo general */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  body {
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 0; /* Remueve el padding extra del card para usar solo el padding en las sub-divisiones */
  }
  
  .card-header {
    background-color: #007BFF;
    color: #fff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 15px;
    text-align: center;
  }
  
  h5 {
    font-size: 1.5em;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card-body {
    padding: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
  }
  
  input:focus {
    border-color: #4CAF50;
    outline: none;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .text-center {
    text-align: center;
  }
  
  .alert {
    color: #d9534f;
    background-color: #f8d7da;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    margin-top: 15px;
  }
  
  .alert-danger {
    border: 1px solid #d9534f;
  }
  
  .fa-user-plus,
  .fa-plus {
    margin-right: 5px;
  }
  
  .g-3 > .col-6,
  .g-3 > .col-12 {
    padding: 10px 0;
  }

  /* Estilo del bot贸n de retroceso */
.back-button {
  background-color: #FF4C4C; /* Rojo */
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  align-self: flex-start; /* Alinea el bot贸n a la izquierda */
  margin-bottom: 10px; /* Espacio debajo del bot贸n */
}

.back-button:hover {
  background-color: #FF3333; /* Color del bot贸n al pasar el mouse */
}
  