<div class="container">
    <div class="card">
      <div class="card-header p-4">
        <h5 class="mb-0">
          <i class="fa-solid fa-user-plus me-3"></i>Cambiar Contraseña
        </h5>
      </div>
      <div class="card-body p-4">
        <form class="row g-3" [formGroup]="registroForm" (ngSubmit)="cambiarContrasenia()">
          <div class="col-6">
            <label class="form-label">Contraseña: </label>
            <input type="password" class="form-control" formControlName="password" />
          </div>
          <div class="col-6">
            <label class="form-label">Repetir contraseña: </label>
            <input type="password" class="form-control" formControlName="confirmaPassword" />
          </div>
          @if (registroForm.hasError('passwordsMismatch')) {
            <div class="alert alert-danger" role="alert" >Las contraseñas no coinciden</div>
          }         
          <div class="col-12 text-center">
            <button type="submit" class="btn btn-primary" [disabled]="registroForm.invalid">
              <i class="fa-solid fa-plus me-2"></i>Cambiar Contraseña
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>