.event-title {
  margin-bottom: 20px; /* Ajusta el espacio entre el título y la tabla */
}

.selected {
  background-color: #d3d3d3; /* Color de fondo para la fila seleccionada */
  border: 2px solid #007bff;  /* Borde azul para la fila seleccionada */
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5); /* Efecto de sombra para resaltar la fila */
}