<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center py-3 header-container">
    <div class="d-flex align-items-center">
      <i class="fa-solid fa-ticket fs-3"></i>
      <h1 class="title ms-3">{{ title }}</h1>
    </div>

    <ul class="nav justify-content-center align-items-center nav-list">
      <li><a routerLink="/" class="nav-link text-decoration-underline link-secondary">Inicio</a></li>
      <li><a routerLink="/login" class="nav-link text-decoration-underline link-secondary">Login</a></li>
      <li><a routerLink="/registro" class="nav-link text-decoration-underline link-secondary">Registro</a></li>
      <li><a routerLink="/crear-evento" class="nav-link text-decoration-underline link-secondary">Gestión eventos</a></li>
      <li><a routerLink="/historial-eventos" class="nav-link text-decoration-underline link-secondary">Historial de eventos</a></li>
    </ul>
  </header>
</div>
